@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in the supermarket</h1>
    <p>On the top of this page, you can navigate within the tabs.</p>
</div>
